Options +FollowSymlinks
# Activation du module de réécriture d'URL : 
RewriteEngine on

#Règles de réécriture :
# ^ : tout
# () : un paramètre
# [a-z] : une lettre parmi toutes les lettres minuscules
# + : autant qu'on veut
# [0-9] : un chiffre
#[L] : lecture
# \ : signale une autorisation sur un caractère spécial

# /controleur/action/noville/notype/param3/param4 ..etc
RewriteRule ^([a-zA-Z0-9\-\_\/]+)$ /routard/index.php?p=$1 [L]